body {
    height: max-content;
    background-color: #e5e5f7;
    /* opacity: 0.8; */
    background-size: 12px 12px;
    background-image:  repeating-linear-gradient(to right, #007bff, #007bff 0.6000000000000001px, #ffffff 0.6000000000000001px, #ffffff);
}
header {
    height: 65px;
    padding: 8px 30px;
    color: #ffffff;
    background-color: #007bff;
    display: flex;
    justify-content: space-between;
}
section {
    height: max-content;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
section > div {
    height: 80vh;
    margin-top: 10px;
    border-radius: 15px;
    box-shadow: 20px 20px 60px #525252, -20px -20px 60px #ffffff;
    background-color: #ffffff;
}
.displayToDO {
    width: clamp(200px, 60%, 850px);
    padding: 10px 20px;
}
.displayToDO > h2 {
    margin-bottom: 20px;
}
.displayToDO > div {
    width: clamp(180px, 100%, 830px);
    height: 65vh;
    padding: 10px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit ,minmax(250px ,1fr));
    gap: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.cardd {
    height: 200px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.cardd > p {
    height: 60%;
    overflow: hidden;
}
.cardd > div > button{
    margin-left: 5px;
}

.AddToDo {
    width: clamp(200px, 60%, 450px);
}
form {
    height: inherit;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
form > * {
    margin-top: 10px;
    /* position: relative; */
}
input {
    /* position: absolute; */
    margin-top: 0px;
    padding: 0px 10px;
    transition: 0.2s ease;
    border: none;
    border-bottom: 1px solid;
}
input:focus-visible {
    color: #007bff;
    border: none;
    border-bottom: 1px solid;
    outline: none;
}
textarea {
    height: clamp(100px, 300px, 400px);
    max-width: 400px;
    padding: 10px;
    box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
    border: 1px solid;
    border-radius: 15px;
}
textarea:focus-visible {
    outline: none;
    color: #007bff;
}
.modal > * {
    border: none !important;
}

/* form style  */
label {
    margin: 0px !important;
}
input:focus-visible {
    color: #007bff;
    border: none;
    border-bottom: 1px solid;
    outline: none;
}
button {
    background-color: #007bff !important;
    color: #ffffff !important;
    width: fit-content;
    margin-top: 5px !important;
    padding: 5px 15px;
    border: none;
    border-radius: 15px !important;
    box-shadow: 1px 1px 5px #525252, -1px -1px 5px #ffffff;
}
.loginBgcover {
    height: 100%;
    width: 100%;
    padding: 10px;
    backdrop-filter: blur(20px);
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.loginHolder {
    height: 350px;
    width: 700px;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    box-shadow: 0px 0px 20px #727272, 0px 0px 20px #000000;
}
.animation {
    animation: switchAni 2s;
}
.loginHolder > form {
    height: 100%;
    width: 55%;
    padding: 2% 4%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}
.loginHolder > form > h4 {
    margin: 0px;
}
.loginHolder > form > .otop {
    height: 40px;
    width: 100%;
    margin: 0px;
    padding: 5px 0px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
.loginHolder > form > .otop > p{
    opacity: 0.8;
}
.loginHolder > form > .otop > i {
    font-size: larger;
}
.loginHolder > form > .processHol {
    display: flex;
    gap: 10px;
}
.loginHolder > form > a,p {
    color: #000000;
    opacity: 0.8;
    cursor: pointer;
}
.loginHolder > .switchSisu {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    background-image: radial-gradient(circle at left center, #ffffff, #007bff), 
                    repeating-radial-gradient(circle at left center, #007bff, #007bff, 5px, transparent 30px, transparent 30px);
    background-blend-mode: multiply;
}
.loginHolder > .switchSisu > h1 {
    padding: 10px;
    background-color: #ffffffb4;
    margin: 0px;
    font-weight: 800;
    font-family: cursive;
}

@keyframes switchAni {
    0% {
        transform: rotateY(0deg);
        opacity: 0;
    } 
    50% {
        transform: rotateY(90deg);
        opacity: 0.5;
    }
    100% {
        transform: rotateY(0deg);
        opacity: 1;
    }
}